<h1>ジャンル一覧</h1>

<% @genres.each do |genres| %>

  <p>ジャンル</p>
  <span><%= link_to genres.name, edit_admin_genre_path(genres.id)%></span>



<% end %>
<%= form_with model:@genre, url: admin_genres_path, method: :post  do |f| %>

  <h4>ジャンル名</h4>
  <%= f.text_field :name %>

<%= f.submit '新規追加' %>
<% end %>


