<h1>注文履歴一覧</h1>

<% @order.each do |order| %>

  <p>購入日時</p>
  <span><%= customer.id %></span>

  <p>購入者</p>
  <span><%= customer.name %></span>

  <p>注文個数</p>
  <span><%= customer.email %></span>

<%= paginate customers %>

<% end %>